<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="com.dogabi.ssdk"
    version="1.0.4">
    <name>ShareSDK</name>
    <description>cordova plugin for ShareSDK</description>
    <license>Apache 2.0</license>
    <keywords>Ionic,Share SDK</keywords>
    <repo>https://github.com/52toys/cordova-plugin-ssdk-bridge.git</repo>
    <issue>https://github.com/52toys/cordova-plugin-ssdk-bridge/issues</issue>

  <js-module src="www/ssdk.js" name="ShareSDK">
    <clobbers target="cordova-plugin-ssdk" />
  </js-module>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Keyboard">
        <param name="android-package" value="com.dogabi.cordova" />
        <param name="onload" value="true" />
      </feature>
    </config-file>
    <source-file src="src/android/ShareSDK.java" target-dir="src/com/dogabi/cordova" />
  </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="ShareSDK">
                <param name="ios-package" value="CDVShareSDK" onload="true" />
            </feature>
        </config-file>
        <header-file src="src/ios/CDVShareSDK.h" />
        <source-file src="src/ios/CDVShareSDK.m" />
    </platform>

</plugin>

